name: Deploy to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      # IMPORTANT: Do NOT run npm run build here
      # Azure (Oryx) will do it inside the Web App

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_DF6D7EA9590C4F15830464D28EB6003F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4BF09BA9255C486E8894FD6DA0E5DE0B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E75D8255D5CE4D42A62B3B8FE4D53E5F }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
